/* Basic Page Setup */
body {
background-color:#f4f7f6; /* A very light grey- blue color*/
font-family:Arial, sans-serif;
margin: 0;
}

/* HEADER STYLES */
header{
    background-color: white;  /* A deep mountain blue */
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
box-shadow: 0 4px 6px rgba(000.1);
    
}
.logo img{
    height: 40px;
}
nav{
    flex-grow: 1;
    text-align: center;
}

 /* This style our links( Home, Trekking, etc.) area */

nav a {
    color: black; 
    text-decoration:none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;

}
nav a: hover{
    color: #ff6b6b;
}

/*Right Icons Style */

.right-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-btn, .heart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-btn i {
    color: #ff5722;
    font-size: 20px;
}

.heart-btn i {
    background-color: #ff5722;
    color: white;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

/* hero Image */

.hero img {
width: 100%;
height: 80vh;
object-fit: cover;

}

/* Main Content & Book Button */

main{
    text-align: center;
    padding: 50px;

}

.book-btn{
    background-color: #ff6b6b;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius :5px:
    cursor: pointer;
    margin-top: 20px;
}

    .book-btn: hover {
        background-color: #e55a5a;
    }
